@font-face {
  font-family: Muli;
  src: local("Muli"),
    url("../../fonts/muli/Muli-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Muli;
  src: local("Muli"),
    url("../../fonts/muli/Muli-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Muli;
  src: local("Muli"),
    url("../../fonts/muli/Muli-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Muli;
  src: local("Muli"), url("../../fonts/muli/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
}
