:root {
  --color-primary-m1: #336dff;
  --color-primary-brand: #1f39ff;
  --color-primary-l1: #dff6ff;
  --color-primary-d1: #172bc4;
  --color-primary: #1363df;

  --color-gray-l1: #e5e5e7;
  --color-gray-l2: #b5b7bc;
  --color-gray-m1: #91959c;
  --color-gray-d1: #535965;
  --color-gray-d2: #181c24;
  --color-gray-d3: #545d63;

  --color-positive-1: #238564;
  --color-positive-2: #1a6149;
  --color-negative-1: #d7373f;
  --color-negative-2: #aa2228;

  --color-gray-d10: #1b252c;

  --color-white: #ffffff;
  --color-border: #d1d3d6;
  --color-body: #172026;

  --font-primary: "Muli";
  --font-secondary: "Source Serif Pro", serif;
  --font-size-base: 14px;
  --font-size-medium: 16px;
  --font-size-base: 12px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: bold;

  --spacer-regular: 8px;

  --border-radius: 2px;
}
