.pl-100 {
  @media (min-width: 768px) {
    padding-left: 100px;
  }
}

.pt__10 {
  padding-top: 15px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

body {
  overflow-x: hidden;
}
