.hide {
  display: none;
}

.active {
  border-bottom-color: #172026;
}

.wrapper {
  position: relative;
}

.menu__heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__bottom.footer__bottom {
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.active {
  @media (min-width: 768px) {
    position: relative;
    &:after {
      content: "";
      height: 7px;
      background-color: #dff6ff;
      width: 100%;
      position: absolute;
      bottom: -28px;
    }
  }
}
