$white: #ffffff;
$link: #1b252c;
$body-color: #172026;

// font family
$font-family-primary: "Mukta Vaani", sans-serif;
$font-weight-default: 400;
$font-weight-semibold: 600;
$font-size-small: 14px;
$font-size-large: 16px;
