$spacer: var(--spacer-regular);
$semibold: var(--font-weight-semibold);

.lead {
  font-weight: $semibold;
  font-size: 20px;
  margin-bottom: calc(#{$spacer} * 2);
  text-transform: capitalize;

  @media (max-width: 768px) {
    text-align: center;
  }
}
