.form-group {
  margin-bottom: calc(var(--spacer-regular) * 2);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-regular);

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--column {
    flex-direction: column;
  }

  &--checkbox {
    justify-content: flex-end;
    gap: var(--spacer-regular);

    [type="checkbox"] {
      position: absolute;
      opacity: 0;
      height: 24px;
      width: 24px;
      z-index: 1;

      &:checked + .custom-checkbox svg {
        * {
          stroke: var(--color-primary-m1);
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }

    .custom-checkbox {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 28px;

      svg {
        position: absolute;
        stroke: var(--color-gray-m1);
        width: var(#{--spacer-regular} * 3);
        height: var(#{--spacer-regular} * 3);

        &:nth-child(2) {
          display: none;
          position: absolute;
          left: 8px;
          top: 0px;
          background: var(--color-white);
          width: 18px;
          height: 15px;
        }
      }
    }
  }

  &--true {
    label {
      display: none;
    }

    + span {
      width: 64px;
      height: 35px;
      border: 1px solid;
    }

    input[type="radio"] {
      position: absolute;
      display: none;
    }
  }
}

label {
  font-weight: var(--font-weight-semibold);
  display: block;
  color: var(--color-gray-d2);
  text-transform: capitalize;
}

input[type="text"] {
  height: 44px;
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--color-gray-l2);
  background: var(--color-white);
  border-radius: calc(var(--border-radius) * 4);
  outline: none;

  &:active {
    border-color: var(--color-gray-d1);
  }

  &:focus {
    box-shadow: 0 0 2px var(--color-primary);
  }
}
