.form-control {
  height: 20px;
  padding: 5px 8px;
  min-width: 100px;
  border-radius: 0;
}

.form-group {
  margin-bottom: calc(var(--spacer-regular) * 2);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-regular);

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--column {
    flex-direction: column;
  }

  &--checkbox {
    justify-content: flex-end;
    gap: var(--spacer-regular);
  }
}

label {
  font-weight: var(--font-weight-semibold);
  display: block;
  color: var(--color-gray-d2);
  text-transform: capitalize;
}

input[type="text"] {
  height: 44px;
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--color-gray-l2);
  background: var(--color-white);
  border-radius: calc(var(--border-radius) * 4);
  outline: none;

  &:active {
    border-color: var(--color-gray-d1);
  }

  &:focus {
    box-shadow: 0 0 2px var(--color-primary);
  }
}
