.radio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  margin-right: 15px;

  label {
    display: none;
  }

  span {
    width: 64px;
    height: 40px;
    border: 1px solid;
  }

  input[type="radio"] {
    position: absolute;
    display: none;
  }
}
