.radio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  margin-left: 10px;

  &:nth-child(2) {
    margin-left: 0;
  }

  label {
    display: none;
  }

  span {
    width: 64px;
    height: 35px;
    border: 1px solid;
  }

  input[type="radio"] {
    position: absolute;
    display: none;
  }
}
