.quantityWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
  gap: 8px;
  align-items: center;

  p {
    flex: 1 1 100%;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
  }

  label {
    display: none;
  }

  > div {
    margin-bottom: 0;
  }

  input {
    width: 114px;
    height: 40px;
    border: 2px solid #b5b7bc;
    border-radius: 8px;
    text-align: center;
    color: #172026;
    font-weight: 600;
    margin: 0 10px;

    &:focus {
      outline: none;
    }
  }
}

// hide arrows

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
