.rating {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 5px;

  &__star {
    display: flex;
    border: 1px solid;
  }

  img {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 1px;
  }

  &__number {
    font-weight: 600;
  }
}
