$font-secondary: var(--font-familty-secondary);

.product {
  padding-bottom: 20px;
  position: relative;
  top: -90px;
  background-color: #fff;

  @media (min-width: 768px) {
    padding-right: 13px;
  }

  &__image {
    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      object-position: top;
      max-width: 90%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
    }
  }

  &__name {
    font-size: 24px;
    line-height: 30px;
    margin-top: 8px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-family: $font-secondary;
  }

  &__details {
    background-color: hsla(205, 24%, 14%, 0.851);
    padding: 17px 38px 21px 38px;
    position: relative;
    top: -25px;
    border-bottom: 8px solid #1363df;

    > * {
      color: #fff;
    }

    h6 {
      margin-top: 0;
    }
  }
}
