$spacer: 15px;
$color: #545d63;

.breadcrumb {
  margin-bottom: 35px;
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: $spacer;
  }

  &-item {
    > a {
      text-decoration: none;
      text-transform: capitalize;
      color: $color;
      padding-left: $spacer;
    }

    &:before {
      content: "/";
    }

    &:first-child {
      &::before {
        display: none;
      }

      > a {
        padding-left: 0;
      }
    }
  }
}
