.logo {
  max-width: 200px;
  position: relative;
  height: 100%;
  display: flex;
  display: block;
  width: 170px;
  min-height: 48px;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin: auto;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
