.link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  svg {
    width: 24px;
    height: 24px;
  }

  span {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
