.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 calc(-1 * var(--spacer-regular) * 2);

  &--align-center {
    align-items: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &__justify__content__between {
    justify-content: space-between;
  }

  &__justify-center {
    justify-content: center;
  }

  &__cover {
    height: 100%;
  }

  &--no-gap {
    gap: 0;
  }

  &--column {
    flex-direction: column;
  }
}
