.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  // padding-top: 15px;

  &--align-center {
    align-items: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &__justify__content__between {
    justify-content: space-between;
  }

  &__cover {
    height: 100%;
  }

  &--no-gap {
    gap: 0;
  }
}
