$spacer: var(--spacer-regular);

.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  &--align-center {
    align-items: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &__justify__content__between {
    justify-content: space-between;
  }

  &__justify-center {
    justify-content: center;
  }

  &__cover {
    height: 100%;
  }

  &--no-gap {
    gap: 0;
  }

  &--column {
    flex-direction: column;
  }

  &--minus-margin {
    margin: 0 calc(#{$spacer} * -2);
    @media (min-width: 320px) {
      gap: $spacer;
    }
    @media (min-width: 768px) {
      gap: 0;
    }
  }
}
