$spacer: var(--spacer-regular);
$border: var(--color-border);
$border-radius: var(--border-radius);
$color: var(--color-body);
$white: var(--color-white);

.bill {
  padding: calc(#{$spacer}* 2) 0;
  background: $white;

  @media (min-width: 768px) {
    border: 1px solid $border;
    border-radius: $border-radius;
    padding: calc(#{$spacer} * 4);
  }

  &__title {
    letter-spacing: 0px;
    color: $color;
    margin-bottom: calc(#{$spacer} * 3);
  }
}
