$spacer: var(--spacer-regular);
$border: var(--color-border);
$border-radius: var(--border-radius);
$color: var(--color-body);

.bill {
  padding: calc(#{$spacer} * 4);
  background: #ffffff;
  box-shadow: 0px 0px 8px #0000000d;
  border: 1px solid $border;
  border-radius: $border-radius;

  &__title {
    letter-spacing: 0px;
    color: $color;
    margin-bottom: calc(#{$spacer} * 3);
  }
}
