.product {
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-right: 32px;
  }

  &__image {
    height: 196px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: 319px;
      height: 382px;
    }

    > a {
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        max-width: 75%;
        object-fit: contain;
        height: 75%;
        max-height: 200px;

        @media (min-width: 768px) {
          max-height: 350px;
        }
      }
    }
  }

  &__name {
    font-size: 18px;
    line-height: 20px;
    margin-top: 8px;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
  }

  &__favorite {
    margin-top: 10px;
  }
}
