.product {
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-right: 32px;
  }

  &-image {
    height: 382px;
    // background-color: #e5e5e7;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid #e5e5e7;
    border-bottom: 1px solid #e5e5e7;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: 319px;
    }

    > img {
      max-width: 75%;
      height: 75%;
      object-fit: contain;
    }
  }

  &-name {
    font-size: 18px;
    line-height: 20px;
    margin-top: 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-favorite {
    margin-top: 15px;
  }
}
