.product {
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-right: 32px;
  }

  &__image {
    height: 196px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      height: 382px;
      max-width: 320px;
    }

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      > img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;

        @media (min-width: 768px) {
          max-height: 350px;
          width: 300px;
        }
      }
    }
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;

    @media (min-width: 1024px) {
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: unset;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
  }

  &__favorite {
    margin-top: 10px;
  }
}
