$spacer: var(--spacer-regular);
$semibold: var(--font-weight-semibold);
$border-color: var(--color-gray-m1);
$font-size-medium: var(--font-size-medium);
$border-radius: var(--border-radius);

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: calc(#{$spacer} * 3);
  gap: 0 $spacer;
  p {
    flex: 1 1 100%;
    margin-bottom: $spacer;
    font-size: 20px;
    font-weight: $semibold;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: #545d63;
    font-size: $font-size-medium;

    border: 2px solid $border-color;
    border-radius: calc(#{$border-radius} * 3);
  }
}
