.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 15px;
  text-align: center;

  @media (max-width: 768px) {
    order: 2;
  }

  @media (min-width: 768px) {
    flex: 1;
    text-align: unset;
  }

  @media (min-width: 1024px) {
    padding: 47px 24px 56px 117px;
  }

  @media (max-width: 768px) {
    * {
      margin: 0 auto;
    }
  }

  &:after {
    content: "";
    width: 102px;
    height: 8px;
    background-color: #1363df;
    position: relative;
    top: 32px;
    margin: 0 auto;

    @media (min-width: 768px) {
      top: 56px;
      margin: unset;
    }
  }

  h1 {
    margin-bottom: 10px;
    margin-top: 0;
  }
  p {
    &:nth-child(2) {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  p,
  h1 {
    color: inherit;
  }
}
