@use "../../scss/common/colors" as *;

$white: var(--color-white);
$header-height: var(--header-height);
$header-height-mobile: var(--header-height-mobile);

.header {
  height: $header-height;
  display: grid;
  align-items: center;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;

  @media (max-width: 768px) {
    height: $header-height-mobile;
  }

  * {
    font-weight: 600;
    color: #fff;
  }

  a {
    display: flex;
    align-items: center;
  }

  svg + div {
    margin-bottom: 0;
  }

  .sign__in {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
