.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

  input[type="checkbox"] {
    width: 24px;
    height: 24px;
  }

  label {
    text-transform: capitalize;
  }
}
