$spacer: var(--spacer-regular);
$color: var(--color-body);
$border-color: var(--color-border);
$font-medium: var(--font-size-medium);
$font-regular: var(--font-weight-regular);
$font-semibold: var(--font-weight-semibold);
$font-bold: var(--font-weight-bold);
$box-shadow: #00000026;

aside {
  @media (min-width: 1024px) {
    width: 305px;
    padding-right: 45px;
  }

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  nav {
    margin-bottom: 35px !important;
    margin-top: 0 !important;
  }

  .form-group {
    margin-bottom: 22px;
  }

  article {
    // display: none;
    border-bottom: 2px solid $border-color;

    @media (min-width: 768px) {
      display: block;
    }

    > p {
      margin-top: calc(#{$spacer} * 2);
      margin-bottom: calc(#{$spacer} * 2);
      text-transform: capitalize;
      font-size: $font-medium;
      font-weight: $font-bold;
    }

    @media (max-width: 768px) {
      padding: 24px;
    }
  }

  .filters-wrapper {
    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      width: calc(100vw - 32px);
      height: 100%;
      z-index: 11;
      background-color: white;
      right: -100%;
      transition: ease-in-out 0.3s;
      box-shadow: 0px $spacer calc(#{$spacer}* 2) $box-shadow;
    }

    &--active {
      right: 0;
    }
  }
}

.sidebar {
  &-title {
    padding-bottom: calc(#{$spacer} * 2);
    border-bottom: 2px solid $border-color;

    p {
      font-size: 20px;
      font-weight: $font-regular;
    }

    button {
      visibility: hidden;
      opacity: 0;
    }

    @media (max-width: 768px) {
      padding: 18px 24px;
      background-color: #e5e5e7;

      button {
        padding: 0;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.visible-mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}
