aside {
  @media (min-width: 768px) {
    width: 305px;
    padding-right: 45px;
  }

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  .breadcrumb {
    margin-bottom: 35px;
  }

  .form-group {
    margin-bottom: 22px;
  }

  article {
    display: none;
    border-bottom: 2px solid #d1d3d6;

    @media (min-width: 768px) {
      display: block;
    }

    > h6 {
      margin-top: 15px;
      margin-bottom: 17px;
      text-transform: capitalize;
      font-size: 16px;
    }
  }
}

.sidebar {
  &-title {
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    border-bottom: 2px solid #d1d3d6;
  }
}
