$spacer: var(--spacer-regular);
$color: var(--color-body);
$border-color: var(--color-border);
$font-medium: var(--font-size-medium);
$font-regular: var(--font-weight-regular);
$font-semibold: var(--font-weight-semibold);
$font-bold: var(--font-weight-bold);

aside {
  @media (min-width: 768px) {
    width: 305px;
    padding-right: 45px;
  }

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  nav {
    margin-bottom: 35px !important;
    margin-top: 0 !important;
  }

  .form-group {
    margin-bottom: 22px;
  }

  article {
    display: none;
    border-bottom: 2px solid $border-color;

    @media (min-width: 768px) {
      display: block;
    }

    > p {
      margin-top: calc(#{$spacer} * 2);
      margin-bottom: calc(#{$spacer} * 2);
      text-transform: capitalize;
      font-size: $font-medium;
      font-weight: $font-bold;
    }
  }
}

.sidebar {
  &-title {
    font-size: 20px;
    padding-bottom: calc(#{$spacer} * 2);
    font-weight: $font-regular;
    border-bottom: 2px solid $border-color;
  }
}
