$spacer: var(--spacer-regular);
$font-normal: var(--font-weight-regular);
$gray: var(--color-gray-d3);
$border-color: var(--color-gray-l1);
$font-base: var(--font-size-base);

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  padding-top: calc(#{$spacer} * 4);
  background-color: $border-color;
  height: calc(#{$spacer} * 77.5);

  @media (min-width: 768px) {
    flex-direction: row;
    height: calc(#{$spacer} * 81.25);
    margin-bottom: calc(#{$spacer} * 5.65);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    align-self: stretch;
    align-items: stretch;

    @media (min-width: 768px) {
      order: 2;
      min-height: unset;
      flex: 0 0 50%;
      width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 30%;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: calc(#{$spacer} * 2) calc(#{$spacer} * 2) calc(#{$spacer} * 3.75)
      calc(#{$spacer} * 2);
    text-align: center;

    @media (min-width: 768px) {
      max-width: calc(#{$spacer} * 82.5);
      position: unset;
      text-align: left;
      padding-left: calc(#{$spacer} * 18.75);
      padding-right: calc(#{$spacer} * 6.25);
    }

    @media (max-width: 768px) {
      padding-bottom: calc(#{$spacer} * 18.75);

      * {
        margin: 0 auto;
      }
    }

    h1 {
      margin-top: 0;
      margin-bottom: $spacer;
    }

    p {
      @media (min-width: 768px) {
        font-size: $font-base;
      }
    }

    button {
      margin-top: calc(#{$spacer} * 3);

      @media (min-width: 768px) {
        margin-left: 0;
      }
    }
  }
}
