$regular: var(--spacer-regular);
$bold: var(--font-weight-bold);

.menu {
  &__heading {
    margin-bottom: calc(#{$regular} * 2);
    font-weight: $bold;
    font-size: 20px;

    + nav {
      @media (max-width: 768px) {
        padding-top: 0;
        margin-bottom: calc(#{$regular} * 2);
      }
    }
  }
}

.menu__heading__hide {
  display: none;
}
