.footer {
  display: flex;
  flex-direction: column;
  border-top: 4px solid #e5e5e7;
  margin-top: 40px;

  h4 {
    margin-top: 30px;
    margin-bottom: 16px;
  }

  &__top {
    padding: 45px 0;
  }

  &__bottom {
    padding: 10px 0;
    border-top: 2px solid #e5e5e7;

    img {
      padding-top: 9px;
      max-width: 100px;
    }
  }

  address {
    text-align: center;
    padding-top: 14px;
    color: #545d63;
    font-size: 14px;
    font-style: normal;
  }
}
