$semibold: var(--font-weight-semibold);
$spacer: var(--spacer-regular);

.table {
  &__header {
    p {
      font-weight: $semibold;
      text-transform: capitalize;
    }
  }
  &__body {
    margin-top: calc(#{$spacer} * 2);
    &--small {
      margin-top: calc(#{$semibold});
    }
  }
}
