.accordion {
  &__list {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    margin: calc(5 * var(--spacer-regular)) 0;

    @media (min-width: 1200px) {
      max-width: 810px;
    }
  }
}
