$white: var(--color-white);

.visuallyHidden {
  display: none;
}

.menu {
  padding-top: 10px;

  @media (max-width: 768px) {
    &-main-menu {
      position: fixed;
      width: 100vw;
      height: calc(100vh - 80px);
      top: 80px;
      left: 0;
      bottom: 0;
      z-index: 10;
      background-color: $white;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    &--column {
      flex-direction: column;
    }

    &--row {
      flex-direction: row;
    }

    &--32 {
      gap: 32px;
    }

    &--align-center {
      align-items: center;
    }

    &--underlined {
      li > a {
        text-decoration: underline !important;
        font-weight: 600;
      }
    }
  }

  &__item {
    > a {
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}
