.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: 768px) {
    flex-direction: row;
    height: 352px;
    margin-bottom: 45px;
  }

  &__img {
    height: 193px;

    @media (min-width: 768px) {
      height: 100%;
      flex: 1;
    }
  }

  &__title {
    background-color: #1b252c;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 100px;
    position: relative;
    top: -50px;

    @media (min-width: 768px) {
      order: -1;
      max-width: 555px;
      padding: 50px 100px;
      top: 0;
    }

    h1 {
      color: #fff;
    }
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}
